.PrimeiraSessaoInicio {
    height: 75vh;

    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 6%;

    h2 {
        color: aliceblue;
        font-size: 32px;
        width: 20%;
    }
}